.page-title {
  display: flex;
  width: 100%;
  padding: 2.5rem 10rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--inputBg);

  .account-title {
    color: var(--loginPageText);
    font-family: 'DM Sans', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: -0.06rem;
  }

  .account-mobile-title {
    display: none;
  }
}

.page-content {
  display: flex;
  padding: 5rem 10rem;
  align-items: flex-start;
  gap: 5rem;
  align-self: stretch;
  background-color: var(--accountPageBg);

  .account-dropdown {
    display: none;
  }

  .account-divider {
    display: flex;
    height: 0.0625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    align-self: stretch;
    background-color: var(--divider-color);
  }

  .account-content {
    display: flex;
    border: 1px solid var(--greyBorder);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1 0 0;
    border-radius: 1rem;
    background: var(--accountPageContentBg);
    color: var(--loginPageText);
    box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
    padding: 2.5rem;
  }
}

.account-option {
  display: flex;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: red;
}

.account-select {
  display: flex;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-self: stretch;
}

@media (max-width: 1024px) {
  .page-title {
    display: flex;
    padding: 2.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .account-title {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3rem;
      letter-spacing: -0.025rem;
    }
  }

  .page-content {
    display: flex;
    padding: 5rem 2.5rem;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;

    .account-content {
      display: flex;
      padding: 2.5rem;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }
  }
}

@media (max-width: 768px) {
  .page-title {
    display: flex;
    padding: 1rem 2rem 2rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    .account-title {
      display: none;
    }

    .account-mobile-title {
      display: block !important;
      color: var(--loginPageText);
      font-family: 'DM Sans', sans-serif;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.5rem;
      letter-spacing: -0.06rem;
    }
  }

  .page-content {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    .side-nav {
      display: none;
    }

    .account-dropdown {
      display: flex;
      width: 100%;
    }
  }
}
