.dark_colors {
  --blue: #fff;
  --white: black;
  --black: white;
  --yellow: #322222;
  --loginPageText: #fcfcfd;
  --loginPageUrlTextHover: #23262f;
  --inputBg: #000000;
  --inputBorderColor: #353945;
}
