.dark_colors {
  --blue: #fff;
  --white: black;
  --black: white;
  --yellow: #322222;
  --loginPageText: #fcfcfd;
  --loginPageUrlTextHover: #23262f;
  --inputBg: #000000;
  --inputBorderColor: #353945;
  --accountPageBg: #000000;
  --accountPageContentBg: #17191d;
  --divider-color: #23262F;
  --trade-info-bg: #17181B;
  --trade-info-text: #fcfcfd;

}
