@import '../../../public/assets/colors/variables.scss';

.dark_colors {
  --blue: #fff;
  --yellow: #322222;
  --loginPageText: #FCFCFD;
  --loginPageUrlTextHover: #23262F;
  --inputBg: #000000;
  --inputBorderColor: #353945

}