@import "../../../public/assets/colors/variables.scss";

.light_colors {
  --blue: green;
  --yellow: yellow;
  --divider-color: #e6e8ec;
  --gray-text: #7e8496;
  --loginPageText: #23262f;
  --loginPageUrlTextHover: #f4f5f6;
  --inputBg: #fcfcfd;
  --inputBorderColor: #e6e8ec;
  --black-text: #24262f;
  --white: #fff;
}
