@import '../../../public/assets/colors/variables.scss';


.light_colors {
  --blue: green;
  --yellow: yellow;
  --divider-color: #e6e8ec;
  --gray-text: #7e8496;
  --loginPageText: #23262F;
  --loginPageUrlTextHover: #F4F5F6;
  --inputBg: #FCFCFD;
  --inputBorderColor: #E6E8EC;
}


