.light_colors {
  --blue: green;
  --yellow: yellow;
  --divider-color: #e6e8ec;
  --gray-text: #7e8496;
  --trade-info-text: #141416;
  --loginPageText: #23262f;
  --loginPageUrlTextHover: #f4f5f6;
  --inputBg: #fcfcfd;
  --inputBorderColor: #e6e8ec;
  --black-text: #24262f;
  --accountPageBg: #f8f8f9;
  --accountPageContentBg: #fcfcfd;
  --white: #fff;
  --red-error: #fa7070;
  --black-border: #888;
  --disabled-button: gray;
  --black: #000000;
  --greyLight: #e5ebec;
  --grey: #6d788d;
  --gray: #6d788d;
  --greyBorder: #c4c4c4;
  --trade-info-bg: #fcfcfd;


  --primary1: #3772ff;
  --primary3: #9757d7;
  --primary7: #58bd7d;
  --primary8: #ff6838;

  --secondary3: #ffd166;
  --secondary4: #cdb4db;
  --secondary6: #4bc9f0;
  --secondary7: #e4d7cf;

  --neutrals1: #141416;
  --neutrals2: #23262f;
  --neutrals3: #353945;
  --neutrals4: #777e90;
  --neutrals5: #b1b5c3;
  --neutrals6: #e6e8ec;
  --neutrals7: #f4f5f6;
  --neutrals8: #fcfcfd;
}
