.inputClass {
    display: flex;
    height: 3rem !important;
    width: 100%;
    padding: 0.75rem 1rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.75rem;
    border: 2px solid var(--Neutrals-6, #E6E8EC);
}
.container {
    display: flex;
    height: 3rem;
    width: 100%;
    gap: 1rem;
}