.dashboard-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--accountPageBg);
    width: 100%;
    .dashboard-content {
        width: 100%;
        min-height: 100%;
    }
}