$black: #000000;
$white: #ffffff;
$greyLight: #E5EBEC;
$grey: #6D788D;
$greyBorder: #C4C4C4;

$primary1: #3772FF;
$primary3: #9757D7;
$primary7: #58BD7D;
$primary8: #FF6838;

$secondary3: #FFD166;
$secondary4: #CDB4DB;
$secondary6: #4BC9F0;
$secondary7: #E4D7CF;

$neutrals1: #141416;
$neutrals2: #23262F;
$neutrals3: #353945;
$neutrals4: #777E90;
$neutrals5: #B1B5C3;
$neutrals6: #E6E8EC;
$neutrals7: #F4F5F6;
$neutrals8: #FCFCFD;
